<%- include ('../_layouts/admin_header') %>
    <h2 class="page-title">Them loai hoa moi</h2>
    <a href="/admin/categories" class="btn btn-primary">Tro ve</a>
    <br><br>
    <form action="/admin/categories/add-category" method="post">
        <div class="form-group">
            <label for="">Ten loai hoa</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title" required>
        </div>

        <button type="submit" class="btn btn-default"> Submit </button>
    </form>
<%- include ('../_layouts/admin_footer') %>