<div class="panel panel-default">
    <div class="panel-body">
        <div class="auto-sliding mt-4">
            <a href="/products/hoa-cuc">
                <div class="go-to-shop-btn">
                    <p style="margin: 1rem 0"> Visit <br>our <br>Store &rarr;</p>
                </div>
            </a>
            
            <div class="slideshow-container">

                <div class="autoSlider_1">

                    <div class="mySlides_1 fade">
                        <a href="/products/hoa-cuc" class="show_Caption">
                            <img src="/images/cuc_1.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Cuc</p>
                        </div>
                    </div>
                    
                    <div class="mySlides_1 fade">
                        <a href="/products/hoa-cuc" class="show_Caption">
                            <img src="/images/cuc_2.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Cuc</p>
                        </div>
                    </div>
                    
                    <div class="mySlides_1 fade">
                        <a href="/products/hoa-cuc" class="show_Caption">
                            <img src="/images/cuc_4.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Cuc</p>
                        </div>
                    </div>
                </div>

                <div class="autoSlider_2">

                    <div class="mySlides_2 fade">
                        <a href="/products/hoa-hong" class="show_Caption">
                            <img src="/images/hong_2.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Hong</p>
                        </div>
                    </div>
                    
                    <div class="mySlides_2 fade">
                        <a href="/products/hoa-hong" class="show_Caption">
                            <img src="/images/hong_4.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Hong</p>
                        </div>
                    </div>
                    
                    <div class="mySlides_2 fade">
                        <a href="/products/hoa-hong" class="show_Caption">
                            <img src="/images/hong_8.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Hong</p>
                        </div>
                    </div>

                </div>
                
                <div class="autoSlider_3">

                    <div class="mySlides_3 fade">
                        <a href="/products/hoa-xuan" class="show_Caption">
                            <img src="/images/xuan_3.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Xuan</p>
                        </div>
                    </div>
                    
                    <div class="mySlides_3 fade">
                        <a href="/products/hoa-xuan" class="show_Caption">
                            <img src="/images/xuan_6.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Xuan</p>
                        </div>
                    </div>
                    
                    <div class="mySlides_3 fade">
                        <a href="/products/hoa-xuan" class="show_Caption">
                            <img src="/images/xuan_9.jpg" class="banner-img">
                        </a>
                        <div class="text hide">
                            <p align="center">Hoa Xuan</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        
        </div>
    </div>
</div>